<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <!-- ... -->
<form action="/predict" method="POST">
    <label for="commodity">Select Commodity:</label>
    <select name="commodity" id="commodity">
        {% for com in commodities %}
            <option value="{{ com }}">{{ com }}</option>
        {% endfor %}
    </select>
    <!-- Other input fields... -->
    <button type="submit">Predict</button>
</form>
<!-- ... -->

    
</body>
</html>